software/*.tar
software/*.tgz
software/*.gz
software/*.zip
!*.md
/dockerfiles/volt/install_dir/demopack.zip
/dockerfiles/install_dir_domino/custom/*.sources
/dockerfiles/install_dir_domino/custom/*.pem
.DominoContainer
