[Unit]

###########################################################################
# systemd Service - Start/Stop Script for Domino on Podman                #
# Version 1.0.0 26.12.2020                                                #
#                                                                         #
# (C) Copyright Daniel Nashed/NashCom 2020                                #
# Feedback domino_unix@nashcom.de                                         #
#                                                                         #
# Licensed under the Apache License, Version 2.0 (the "License");         #
# you may not use this file except in compliance with the License.        #
# You may obtain a copy of the License at                                 #
#                                                                         #
#      http://www.apache.org/licenses/LICENSE-2.0                         #
#                                                                         #
# Unless required by applicable law or agreed to in writing, software     #
# distributed under the License is distributed on an "AS IS" BASIS,       #
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.#
# See the License for the specific language governing permissions and     #
# limitations under the License.                                          #
###########################################################################

Description=Domino Server on Podman (notes)
After=syslog.target network.target

[Service]
User=root
PIDFile=/tmp/domino_container.service.pid
ExecStart=/opt/nashcom/startscript/domino_container startd
ExecStop=/opt/nashcom/startscript/domino_container stopd
Type=forking
LimitNOFILE=65535
LimitNPROC=8000
TasksMax=8000

# to make sure startup compact operations can finish
TimeoutSec=300
TimeoutStopSec=200
KillMode=none
RemainAfterExit=no

#Environment=LANG=en_US.UTF-8
#Environment=LANG=de_DE.UTF-8

# !! Note for environment variables and security limits !!

# Environment variables from a user profile are not set for systemd services, because no "su" is used to swich to the user.

# The systemd service also defines security limits. You should still apply the same settins in /etc/security/limits.conf.

[Install]
WantedBy=multi-user.target

